fastapi
uvicorn
httpx
ollama
pydantic
python-dotenv
feedparser
beautifulsoup4
requests
tqdm
gradio
plotly
numpy
scikit-learn
chromadb
sentence-transformers
pandas
joblib
transformers
psutil
twilio
openai
datasets
modal
sentencepiece>=0.2.1 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.46.2 # not directly required, pinned by Snyk to avoid a vulnerability
