fastapi
uvicorn
httpx
ollama
pydantic
python-dotenv
feedparser
beautifulsoup4
requests
tqdm
gradio
plotly
numpy
scikit-learn
chromadb
sentence-transformers
pandas
joblib
transformers
psutil
twilio
openai
datasets
modal
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
